Source: axon-test
Priority: optional
Maintainer: Avi Shihora <avi.shihora.w23@gmail.com>
Build-Depends: debhelper-compat (= 13)

Package: axon-test
Architecture: any
Description: Axon Testing Script package.
